{% extends "base.html" %}
{% block content %}
<div class="container my-3" style="width:50%; justify-content: center;">
    
    <form method="post" action="{% url 'common:myinfo' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="mb-3">
            <label for="name">이름</label>
            <input type="text" class="form-control" name="name" id="name"
                   value="{{ form.name.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="phoneNumber">휴대폰 번호</label>
            <input type="text" class="form-control" name="phoneNumber" id="phoneNumber"
                   value="{{ form.phoneNumber.value|default_if_none:'' }}">
        </div>
        
        <div class="mb-3">
            <label for="address">주소</label>
            <input type="text" class="form-control" name="address" id="address"
                   value="{{ form.address.value|default_if_none:'' }}">
        </div>
        <button type="submit" class="btn btn-primary">저장</button>
    </form>
</div>
{% endblock %}
